extends ../layout


block content
  h1= title
  p Welcome to #{title}
  .row
    ul.collection.col.s6
        each val, index in restaurants
          li.collection-item.avatar
            h1 #{index+1}
            span.title #{val.name}
            p
              |  #{val.cuisine}
              br
              |   #{val.grades.score}
            a.secondary-content(href='/restaurant/#{val.restaurant_id}')
              i.large.material-icons zoom_in
    ul.collection.col.s6
        each val, index in ['zero', 'one', 'two']
          li.collection-item.avatar
            img.circle(src='images/yuna.jpg', alt='')
            span.title Title
            p
              | First Line 
              br
              |          Second Line
            a.secondary-content(href='#!')
              i.material-icons grade
